h1{
    font-size:48px;
    color:red;
    font-weight:bold;
    text-shadow:2px 2px 5px black;
    text-align:left;
}
h2{
    font-size:32px;
    color:red;
    font-weight:bold;
    text-shadow:2px 2px 5px black;
    text-align:left;
}